body {
	background: black url('../gifs/background.gif') repeat fixed left top;
}

.page {
	padding-top: 20px;
	width: 70%;
	margin: auto;
}

.content {
	padding: 5px 10px 5px 10px;
	background-color: black;
	color: white;
}

.error {
	padding: 10px 10px 10px 10px;
	text-align: center;
	color: red;
}

// Two column stylesettings
.two-column-container {
	display: flex;
	margin-bottom: 5%;
}

.two-column {
	flex: 50%;
	margin-left: auto;
}
