body {
	//background-color: #FFFFAA;
	background-image: url('../images/background.gif');
	background-size: auto;
	background-repeat: repeat;
	background-attachment: fixed;
}

.page {
	padding-top: 20px;
	width: 65%;
	margin: auto;
	opacity: 0.6;
}

.page:hover {
	padding-top: 20px;
	width: 65%;
	margin: auto;
	opacity: 1;
}

.content {
	padding: 5px 10px 5px 10px;
	background-color: #EEEE99;
}

.error {
	padding: 10px 10px 10px 10px;
	text-align: center;
	color: red;
}


