body {
	background-color: #FFFFAA;
}

.page {
	padding-top: 20px;
	width: 70%;
	margin: auto;
}

.content {
	padding: 5px 10px 5px 10px;
	background-color: #EEEE99;
}

.error {
	padding: 10px 10px 10px 10px;
	text-align: center;
	color: red;
}


